<div class='nested-fields editing-block'>

    <div class="field">
      <%= f.label :type_bul %>
      <%= f.text_field :type_bul %>
    </div>
  
    <div class="field">
      <%= f.label :country %>
      <%= f.text_field :country %>
    </div>
  
    <div class="field">
      <%= f.label :weight %>
      <%= f.text_field :weight %>
    </div>
  
    <div class="field">
      <%= f.label :speed %>
      <%= f.text_field :speed %>
    </div>
  
    <div class="field">
      <%= f.label :energy %>
      <%= f.text_field :energy %>
    </div>
  </div>
