<%= simple_form_for @ammunition, defaults: { required: false } do |form| %>
  <% if ammunition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ammunition.errors.count, "error") %> prohibited this ammunition from being saved:</h2>

      <ul>
      <% ammunition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class ="editing-block">

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type_bul %>
    <%= form.text_field :type_bul %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :speed %>
    <%= form.number_field :speed %>
  </div>

  <div class="field">
    <%= form.label :energy %>
    <%= form.number_field :energy %>
  </div>

  <div class="field">
    <%= form.label 'Note' %>
    <%= form.text_area :note, 'data-provider': :summernote %>
  </div>
</div>

  <div class= "editing-block">

      <h2> Add picture </h2>
      <%= form.fields_for :pictures,  defaults: { required: false } do |picf| %>
      
      <div class="field">
        <%= picf.label 'Image' %>
        <%= picf.input_field :image %>
      </div>

      <div class="field">
        <%= picf.label :author %>
        <%= picf.text_field :author %>
      </div>
      <div class="field">
        <%= picf.label :summary %>
        <%= picf.text_area :summary, 'data-provider': :summernote %>
      </div>

     

      <% end %>


  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

