<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ammunition.name %>
</p>

<p>
  <strong>Type bul:</strong>
  <%= @ammunition.type_bul %>
</p>

<p>
  <strong>Country:</strong>
  <%= @ammunition.country %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @ammunition.weight %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @ammunition.speed %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @ammunition.energy %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ammunition.note %>
</p>
<% if logged_in? %>
<%= link_to 'Edit', edit_ammunition_path(@ammunition) %> |
<% end %>

<%= link_to 'Back', ammunitions_path %>
