<div class="row row-eq-height">
  <div class="column1_inner">
    <div class="search_column" >
      <h4> SPECS </h4>
         <%# provide(:title, 'Search Firearms') %>
        <%= render 'search' %>
    </div>
  </div>

  <div class="column2_inner">
    <h1>
      <%= @ammunition.name %>
    </h1>
   
<%# @firearm.pictures.each do |p|%>

 <%#= image_tag(p.image.url(:large)) %>
 <%# end %>

<!-- Place somewhere in the <body> of your page -->

<% if @ammunition.pictures.nil? %>
<% else %>
<p class="imglist carousel_wrap" style="max-width: 1000px;">
 <% @ammunition.pictures.each do |slide| %>
 <% cap = slide.author.blank? ? "#{slide.summary}" : "© #{slide.author} #{slide.summary}" %>
 <%= link_to image_tag(slide.image.url(:thumb)), slide.image.url(:large), data: { fancybox: "gallery", caption: cap }, class:"carousel_item"  %>
<% end %>
</p>

<% end %>


<br>
    <table>
      <tr class='odd'>
        <td><strong>type:</strong></td>
        <td><%= @ammunition.type_bul %></td>
        <td><%= raw h(@additional_ammo.type_bul).bbcode_to_html unless @additional_ammo.blank? %></td></tr>
      <tr class='even'>
        <td><strong>country:</strong></td>
        <td><%= @ammunition.country %></td>
        <td><%=raw h(@additional_ammo.country).bbcode_to_html unless @additional_ammo.blank?%></td></tr>
      <tr class='even'>
        <td><strong>weight:</strong></td>
        <td><%= @ammunition.weight %></td>
        <td><%= raw h(@additional_ammo.weight).bbcode_to_html unless @additional_ammo.blank?%></td></tr>
      <tr class='odd'>
        <td><strong>speed:</strong></td>
        <td><%= @ammunition.speed %></td>
        <td><%= raw h(@additional_ammo.speed).bbcode_to_html unless @additional_ammo.blank?%></td></tr>
      <tr class='even'>
        <td><strong>energy:</strong></td>
        <td><%= @ammunition.energy %></td>
        <td><%= raw h(@additional_ammo.energy).bbcode_to_html unless @additional_ammo.blank? %></td></tr>
      

    </table>

    <p> <%= @ammunition.note.html_safe %></p>

  

    <% if logged_in? %>
      <%= link_to 'Edit', edit_ammunition_path(@ammunition) %> |
    <% end %>
    <%= link_to 'Back', ammunitions_path %>
  </div>
</div> 