<%= notice %>
<div class="row row-eq-height">
      <div class="column1_inner">
      <%# render 'cloud', learning: @learning %>
      </div>

<div class="column2_inner">
     <% if logged_in? %>
      <%= link_to 'Add new learning', new_learning_path %>
    <% end %>
   
 
    <% @learnings.each do |learning| %>
           
     
        <div class='news' >
       
          <h2> <%= link_to learning.title , learning %> </h2>
                 
          
          <p><%# learning.body.html_safe %>
            <%= learning.summary %>
          </p>
          
          <p> <p>
            
             
            
          <% if logged_in? %>
          <p><%= link_to 'Edit', edit_learning_path(learning) %> |
          <%= link_to 'Destroy', learning, method: :delete, data: { confirm: 'Are you sure?' } %></p  >
          <% end %>
        </div>
      
    <% end %>
    
   
</div>
</div>
<script id="dsq-count-scr" src="//weapoint.disqus.com/count.js" async></script>


