<p id="notice"><%= notice %></p>
<div class="row row-eq-height">
      <div class="column1_inner">
       <p> Что должно быть здесь в боковой колонке? 
       Может быть, облако тегов?</p>
      </div>

<div class="column2_inner">
<h1>Learnings</h1>
   <% @learnings.each do |learning| %>
   <div class='news' >
      <h2> <%= link_to learning.name , learning %> </h2>
      
        <%= learning.note.html_safe %>
        <br>
        <%= learning.tag %>
        <br>
        <%= learning.range %>
        
        <% if logged_in? %>
        <p><%= link_to 'Edit', edit_learning_path(learning) %> |
        <%= link_to 'Destroy', learning, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>    
    </div>     
     
    <% end %>

    <br>
    <br>
  <% if logged_in? %>
  <%= link_to 'New Learning', new_learning_path %>
  <% end %>
  </div>
  </div>

