
<div class="row row-eq-height">
      <div class="column1_inner">
       <%= render 'cloud', learning: @learning %>
       
      </div>

<div class="column2_inner">
<h1>  <%= @learning.title %> </h1>
<p class='date'> Posted on <%= @learning.created_at.to_formatted_s(:default) %> </p>
<p>
  
  <%= @learning.note.html_safe %>
</p>
   <p>Tags: <%= raw @learning.learntags.map(&:name).map{|t|  link_to t, learntag_path(t) }.join(' ') %></p>




<% if logged_in? %>
<p> Range: <%= @learning.range %> (видно только админу)</p>
<%= link_to 'Edit', edit_learning_path(@learning) %> |

<% end %>

<%= link_to 'Back', learnings_path %>
</div>
</div>
