<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @learning.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @learning.note %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @learning.tag %>
</p>

<p>
  <strong>Range:</strong>
  <%= @learning.range %>
</p>

<% if logged_in? %>
<%= link_to 'Edit', edit_learning_path(@learning) %> |
<% end %>

<%= link_to 'Back', learnings_path %>
