  <div class="field">
    <%= f.label "Typearm(additional_info)" %>
    <%= f.text_field :typearm %>
  </div>

  <div class="field">
    <%= f.label "Status(additional_info)" %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label "Country(additional_info)" %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label "Year(additional_info)" %>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label "Caliber(additional_info)" %>
    <%= f.text_field :caliber %>
  </div>

  <div class="field">
    <%= f.label "Action_type(additional_info)" %>
    <%= f.text_field :action_type %>
  </div>

  <div class="field">
    <%= f.label "Trigger_type(additional_info)" %>
    <%= f.text_field :trigger_type %>
  </div>

  <div class="field">
    <%= f.label "Feeding_mech(additional_info)" %>
    <%= f.text_field :feeding_mech %>
  </div>

  <div class="field">
    <%= f.label "Barrel length(additional_info)" %>
    <%= f.number_field :barrel_l %>
  </div>

  <div class="field">
    <%= f.label "Overall length(additional_info)" %>
    <%= f.number_field :over_l %>
  </div>

  <div class="field">
    <%= f.label "Overall length (folded stock)(additional_info)" %>
    <%= f.number_field :over_l_f %>
  </div>

  <div class="field">
    <%= f.label "Empty weght"%>
    <%= f.number_field :em_w %>
  </div>

  <div class="field">
    <%= f.label "Loaded weght(additional_info)" %>
    <%= f.number_field :l_w %>
  </div>

  <div class="field">
    <%= f.label "Magazine capacity(additional_info)" %>
    <%= f.number_field :am_cap %>
  </div>

  <div class="field">
    <%= f.label "Rate_of_fire(additional_info)" %>
    <%= f.number_field :rate_of_fire, class: :text_field, step: :any %>
  </div>

  <div class="field">
    <%= f.label "Frame material(additional_info)" %>
    <%= f.text_field :fr_mat %>
  </div>

  <div class="field">
    <%= f.label "Stock_type(additional_info)" %>
    <%= f.text_field :stock_type %>
  </div>