<%= form_tag new_choosen_arm_path, method: 'get' do %>
<%#<p> По вашему запросу найдено <%= @firearms.count > результатов </p%>
  <% @firearms.each do |firearm| %>
    <div class='search_result'>
    
      <h3><%= link_to firearm.name, firearm %></h3>
      <%  if firearm.pictures.first.nil? %>
      <% else %>
        <%= image_tag(firearm.pictures.first.image.url(:thumb)) %>
      <% end %>
      <%= firearm.typearm %> 
      <%= firearm.atstus %>
      <%= firearm.country %>
      <%= firearm.year %>
      <%= firearm.caliber %>
      <%= firearm.action_type %>
      <%= firearm.trigger_type %>
      <%= firearm.feeding_mech %>
      <%= firearm.barrel_l %>
      <%= firearm.over_l %>
      <%= firearm.over_l_f %>
      <%= firearm.em_w %>
      <%= firearm.l_w %>
      <%= firearm.am_cap %>
      <%= firearm.fr_mat %>
      <%= firearm.stock_type %>
      <%= firearm.rate_of_fire %>
      <p> <%= firearm.summary.html_safe %></p>
  
    </div>
     
  <% end %>
   

<% end %>