<%= form_tag new_choosen_arm_path, method: 'get' do %>
  <div class="row">
  <table>
  <thead>
    <tr>
      <th width = "50">Select</th>
      <th width ="110">Name </th>
      <th width ="110">Type </th>

  </thead>

    <% @firearms.each do |f| %>
      <tbody>
        <tr>
          <td><%= radio_button_tag :firearm_id, f.id %></td>
          <td><%= f.name %></td>
          <td><%= f.typearm %></td>
          %>
        </tr>      
      </tbody>
    <% end %>
    </table>
    <%= submit_tag "Select Flight", :name => nil, class: "button" %>
   
   

  </div>
<% end %>