
<div class="row row-eq-height">
  <div class="column1_inner">
    <div class="search_column" >
      <h4> SPECS </h4>
      <%= render 'search' %>
    </div>
  </div>

  <div class="column2_inner ">
    <% if logged_in? %>
      <%= link_to 'Add new firearm', new_firearm_path %>
    <% end %>
    <% if !@firearms.nil? %>
       <%= render 'search_results' %>
    <% else %>
      <h2  class='search_result'> "Обратите внимание на следуюшие модели или что там написать..." </h2>
      <% @fires.each do |firearm| %>
        <% if firearm.fixed ==true %>
          <div class='search_result'>    
            <% if firearm.pictures.first.nil? %>
            <% else %>
              <%= image_tag(firearm.pictures.first.image.url(:thumb), class: "img_search_result") %>
            <% end %>
            <div class ="txt_search_result">
                <h3 ><%= link_to firearm.name, firearm %></h3>
                <p> 
                <%= firearm.typearm %><% unless firearm.typearm.nil? ||   firearm.typearm == ""%>, <% end   %>
                <%= firearm.atstus %><% unless firearm.atstus.nil? ||   firearm.atstus == ""%>, <% end %>
                <%= firearm.country %><% unless firearm.country.nil? ||   firearm.country == ""%>, <% end   %>
                <%= firearm.year %><% unless firearm.year.nil? ||   firearm.year == ""%>, <% end %>
                <%= firearm.caliber %><% unless firearm.caliber.nil? ||   firearm.caliber == ""%>, <% end   %>
                <%= firearm.action_type %><% unless firearm.action_type.nil? ||   firearm.action_type == ""  %>, <%       end %>
                <%= firearm.trigger_type %><% unless firearm.trigger_type.nil? ||  firearm.trigger_type ==   ""%>,       <% end %>
                <%= firearm.feeding_mech %><% unless firearm.feeding_mech.nil? ||  firearm.feeding_mech ==   ""%>,       <% end %>
                <%= firearm.barrel_l %><% unless firearm.barrel_l.nil? ||   firearm.barrel_l == ""%>mm, <%   end %>
                <%= firearm.over_l %><% unless firearm.over_l.nil? ||   firearm.over_l == ""%>mm, <% end %>
                <%= firearm.over_l_f %><% unless firearm.over_l_f.nil? ||   firearm.over_l_f == ""%>mm, <%   end %>
                <%= firearm.em_w %><% unless firearm.em_w.nil? ||   firearm.em_w == "" %>kg, <% end %>
                <%= firearm.l_w %><% unless firearm.l_w.nil? ||   firearm.l_w == ""%>kg, <% end %>
                <%= firearm.am_cap %><% unless firearm.am_cap.nil? ||   firearm.am_cap == "" %>, <% end %>
                <%= firearm.rate_of_fire %><% unless firearm.rate_of_fire.nil? ||  firearm.rate_of_fire ==   "" %>      rpm, <% end %>
                <%= firearm.fr_mat %><% unless firearm.fr_mat.nil? ||   firearm.fr_mat == "" %>, <% end %>
                <%= firearm.stock_type %><% unless firearm.stock_type.nil? ||   firearm.stock_type == ""%>   <% end       %>
                </p>  
                <p> <%= firearm.summary.html_safe %></p>
            </div>
            <% if logged_in? %>
            <p>
                <%= link_to 'Edit', edit_firearm_path(firearm) %> |
                <%= link_to 'Destroy', firearm, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
            <% end %>
          </div>
      <% end %>   
    <% end %>
    <h2> Chose from SPEC list.. </h2>
    <% end %>  
  </div>
</div>
<br>
<br>
