<div class="row row-eq-height">
  <div class="column1_inner">
    <div class="search_column" >
      <h4> SPECS </h4>
         <%# provide(:title, 'Search Firearms') %>
        <%= render 'search' %>
    </div>
  </div>

  <div class="column2_inner">
    <h1>
      <%= @firearm.name %>
    </h1>
   


<% if @firearm.pictures.nil? %>
<% else %>
<p class="imglist carousel_wrap" style="max-width: 1000px;">
 <% @firearm.pictures.each do |slide| %>
 <% cap = slide.author.blank? ? "#{slide.summary}" : "© #{slide.author} #{slide.summary}" %>
 <%= link_to image_tag(slide.image.url(:thumb)), slide.image.url(:large), data: { fancybox: "gallery", caption: cap }, class:"carousel_item"  %>
<% end %>
</p>

<% end %>


<br>
    <table>
      <tr class='odd'>
        <td class='show_view'><strong>type:</strong></td>
        <td class='show_view'><%= @firearm.typearm %></td>
        <td class='show_view'><%= raw h(@additional_fire.typearm).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>status:</strong></td>
        <td class='show_view'><%= @firearm.atstus %></td>
        <td class='show_view'><%= raw h(@additional_fire.status).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='odd'>
        <td class='show_view'><strong>country:</strong></td>
        <td class='show_view'><%= @firearm.country %></td>
        <td class='show_view'><%= raw h(@additional_fire.country).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>year of appearance:</strong></td>
        <td class='show_view'><%= @firearm.year %></td>
        <td class='show_view'><%= raw h(@additional_fire.year).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='odd'>
        <td class='show_view'><strong>caliber:</strong></td>
        <td class='show_view'><%= @firearm.caliber %></td>
        <td class='show_view'><%= raw h(@additional_fire.caliber).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>action type:</strong></td>
        <td class='show_view'><%= @firearm.action_type %></td>
        <td class='show_view'><%= raw h(@additional_fire.action_type).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='odd'>
        <td class='show_view'><strong>trigger type:</strong></td>
        <td class='show_view'><%= @firearm.trigger_type %></td>
        <td class='show_view'><%= raw h(@additional_fire.trigger_type).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>feeding mechanism:</strong></td>
        <td class='show_view'><%= @firearm.feeding_mech %></td>
        <td class='show_view'><%= raw h(@additional_fire.feeding_mech).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='odd'>
        <td class='show_view'><strong>barrel length:</strong></td>
        <td class='show_view'><%= @firearm.barrel_l %></td>
        <td class='show_view'><%= raw h(@additional_fire.barrel_l).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>overall length:</strong></td>
        <td class='show_view'><%= @firearm.over_l %></td>
        <td class='show_view'><%= raw h(@additional_fire.over_l).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>overall length (folded stock):</strong></td>
        <td class='show_view'><%= @firearm.over_l_f %></td>
        <td class='show_view'><%= raw h(@additional_fire.over_l_f).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='odd'>
        <td class='show_view'><strong>empty weight:</strong></td>
        <td class='show_view'><%= @firearm.em_w %></td
          ><td class='show_view'><%= raw h(@additional_fire.em_w).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>loaded weight:</strong></td>
        <td class='show_view'><%= @firearm.l_w %></td>
        <td class='show_view'><%= raw h(@additional_fire.l_w).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='odd'>
        <td class='show_view'><strong>ammunition capacity:</strong></td>
        <td class='show_view'><%= @firearm.am_cap %></td>
        <td class='show_view'><%= raw h(@additional_fire.am_cap).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>frame material:</strong></td>
        <td class='show_view'><%= @firearm.fr_mat %></td>
        <td class='show_view'><%= raw h(@additional_fire.fr_mat).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='odd'>
        <td class='show_view'><strong>stock type:</strong></td>
        <td class='show_view'><%= @firearm.stock_type %></td>
        <td class='show_view'><%= raw h(@additional_fire.stock_type).bbcode_to_html unless @additional_fire.blank?%></td></tr>
      <tr class='even'>
        <td class='show_view'><strong>rate of fire:</strong></td>
        <td class='show_view'><%= @firearm.rate_of_fire %></td>
        <td class='show_view'><%= raw h(@additional_fire.rate_of_fire).bbcode_to_html unless @additional_fire.blank?%></td></tr>
 
    </table>

    <p> <%= @firearm.summary.html_safe %></p>

    <% if logged_in? %>
      <%= link_to 'Edit', edit_firearm_path(@firearm) %> |
    <% end %>
    
    
    <%= link_to 'Back', firearms_path %>
  </div>
</div>






