<%= form_with(model: choosen_arm, local: true) do |form| %>
  <% if choosen_arm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(choosen_arm.errors.count, "error") %> prohibited this choosen_arm from being saved:</h2>

      <ul>
      <% choosen_arm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firearm_id %>
    <%= form.text_field :firearm_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
