
<%= simple_form_for @picture, defaults: { required: false }, html: {multipart: true} do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :imageable_id %>
    <%= form.number_field :imageable_id %>
  </div>

  <div class="field">
    <%= form.label :imageable_type %>
    <%= form.text_field :imageable_type %>
  </div>

  <div class="field">
    <%= form.input :title, label: 'Title'%>
  </div>

   <div class="field">

    <%= form.input_field :image, label: 'Image' %>
  </div>
<%= @picture.image.file.filename if @picture.image.file %>
  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

 
  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, 'data-provider': :summernote %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

