<div>
    <% if  @picture.imageable_type == 'Firearm' %>
      <%= link_to @firearm.name, @firearm %>
    <% else %>
      <%= link_to @ammunition.name, @ammunition %>
    <% end %>
  
    <%= @picture.title %>
    <br>
   </div>
<% if  @picture.image.url.nil? %>
<% else %>
   	<%= image_tag( @picture.image.url(:show)) %>
   	<% end %>
    <%= @picture.author %>
    <%= @picture.summary %>
    
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
