<p id="notice"><%= notice %></p>

<h1>News</h1>


 
    <% @posts.each do |post| %>
      <h2> <%= link_to post.title , post %> </h2>
      <p><%= post.body.html_safe %></p>
      <p><%= post.date %></p>
         
      <% if logged_in? %>
      <p><%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      
     
    <% end %>


<br>
<br>

<% if logged_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>