<p id="notice"><%= notice %></p>
<div class="row row-eq-height">
      <div class="column1_inner">
       <p> Что должно быть в новостях в боковой колонке? </p>
      </div>

<div class="column2_inner">
<h1>  <%= @post.title %> </h1>

<p>
  
  <%= @post.body.html_safe %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.datenews.to_formatted_s(:default) %>
</p>




<% if logged_in? %>
<p>
  <strong>Range:</strong>
  <%= @post.range %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |

<% end %>

<%= link_to 'Back', posts_path %>
</div>
</div>
