<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>


  <strong>Body:</strong>
  <%= image_tag(@post.image.url(:large)) if @post.image? %>
  <%= @post.body.html_safe %>



<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Range:</strong>
  <%= @post.range %>
</p>

<% if logged_in? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>
