<div class="row row-eq-height">
      <div class="column1_inner">
       <%= render 'cloud', post: @post %>
       
      </div>

<div class="column2_inner">
<h1>  <%= @post.title %> </h1>

<p>
  
  <%= @post.body.html_safe %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.datenews.to_formatted_s(:default) %>
</p>

<p>
  <p><%= raw @post.tags.map(&:name).map{|t|  link_to t, tag_path(t) }.join(' ') %></p>
</p>

<%= render 'disqus' %>


<% if logged_in? %>
<p> Range: <%= @post.range %>(видно только админу) </p>

<%= link_to 'Edit', edit_post_path(@post) %> |

<% end %>

<%= link_to 'Back', posts_path %>
</div>
</div>
