<!DOCTYPE html>
<html>
  <head>
    <title>Weapoint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="sticky-top">



    <ul class="myNav">
      <li class="myNav">  <%= active_link_to("WEAPOINT", root_path, active: :exclusive) %></li>
      <li class="myNav">  <%= active_link_to("NEWS", posts_path, active: [['posts', 'tags'], []]) %></li>  
      <li class="myNav">  <%= active_link_to("FIREARMS", firearms_path) %></li>
      <li class="myNav">  <%= active_link_to("AMMUNITION",  ammunitions_path) %></li>
      <li class="myNav">  <%= active_link_to("LEARNING", learnings_path) %></li>
      <li class="myNav">  <%= active_link_to("CONTACTS", contacts_path) %></li>
      <% if logged_in? %>
      <li class="myNav">  <%= active_link_to("ADMIN", admin_path) %></li>
      <li class="myNav">  <%= active_link_to 'Pictures', pictures_path %> </li>
      <li class="myNav">  <%= active_link_to "Logout",  logout_path, method: :delete %></li>
      <% end %>

    </ul>
  </div> <%#stiky-top%>
  <%= notice %>
  <div class="wrapper">

    <div class="row equal content">
      <div class="column1">
              
          <%= yield %>

      </div> <%#column1%>
      <div class="column2">
          
      </div> <%#column2%>
    </div> <%#row%>
    <div class="footer">This footer isn't fixed</div>
  </div>

  </body>
</html>

    
<script>
  $('form').on('cocoon:after-insert', function(e, insertedItem) {
    insertedItem.find('[data-provider="summernote"]').each(function() {
      $(this).summernote();  
    })  
});
</script>
 

