<!DOCTYPE html>
<html>
  <head>
    <title>Weapoint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <li><%= link_to("WEAPOINT", root_path) %></li>
      <li>NEWS<%# link_to("Releases", releases_path) %></li>
      <li><%= link_to("FIREARMS", root_path) %></li>
      <li>AMMUNITION<%# link_to "Logout",  logout_path, method: :delete %></li>
      <li>LEARNING<%# link_to("Releases", releases_path) %></li>
      <li>CONTACT<%# link_to("Releases", releases_path) %></li>
    </ul>

    <div class="row">
      <div class="column1">
        <h2>Column</h2>
        <%# provide(:title, 'Search Firearms') %>
        <%# render 'search' %>
      </div>
      <div class="column2">
        
          <%= yield %>

      </div>
      <div class="column3">
          <h2>Column</h2>   
          
     </div>
    </div>

  </body>
</html>

    
  
 

