<!DOCTYPE html>
<html>
  <head>
    <title>Weapoint</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <li><%= link_to("WEAPOINT", root_path) %></li>
      <li><%= link_to("NEWS", posts_path) %></li>
      <li><%= link_to("FIREARMS", root_path) %></li>
      <li><%= link_to("AMMUNITION",  ammunitions_path) %></li>
      <li><%= link_to("LEARNING", learnings_path) %></li>
      <li><%= link_to("CONTACTS", contacts_path) %></li>
      <% if logged_in? %>
      <li><%= link_to "Logout",  logout_path, method: :delete %></li>
      <% end %>

    </ul>

    <div class="row">
      <div class="column1">
              
          <%= yield %>

      </div>
      <div class="column2">
          <h2>Column</h2>   
          
     </div>
    </div>

  </body>
</html>

    
  
 

